<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Django Djedis</title>
    </head>
    <body>
        <h1>This is a detail page</h1>
        <h2>User identifier: {{ identifier }}</h2>
        <!-- <table> -->
        <!-- </table> -->
        <table border="5">
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            {% for d in all_data %}
                <tr>
                    <td>{{ d.key }}</td>
                    <td>{{ d.value }}</td>
                </tr>
            {% endfor %}
        </table>
        <a href="{% url 'add_key' identifier=identifier %}" target="_blank">Add key for this user</a>
    </body>
</html>
