{% extends "base.html" %}

{% block content %}
    <a href="{% url 'create_post_url' %}" class="btn btn-success">Create new post</a>
    <br />
    <br />
    <br />


    <table class=" table table-bordered table-hover">
        <thead>
            <th>Post:</td>
            <th>Date created:</td>
            <th>Date updated:</td>
        </thead>
        {% for p in all_blog_posts %}
            <tr>
                <td><a href="{% url 'detail_url' post_id=p.id %}" target="_blank">{{ p.title }}</a></td>
                <td><a href="{% url 'detail_url' post_id=p.id %}" target="_blank">{{ p.created_at }}</td>
                <td><a href="{% url 'detail_url' post_id=p.id %}" target="_blank">{{ p.updated_at }}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url 'create_post_url' %}" class="btn btn-primary btn-lg">Create Post</a>

{% endblock content %}
