{% extends "website/base.html" %}
{% load static %}


{% block content %}
    <div class="container-fluid">
        <br />
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 alert alert-info text-center" role="alert">
                <h1>Thanks for the download!</h1>
                <h2>We will send you email with the link to the file!</h2>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
{% endblock %}
