
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">   <link rel="icon" href="../../favicon.ico">

    <!-- Custom styles for this template -->
  </head>

  <body>

      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index_url' %}">Hack Olx</a>

          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="nav navbar-nav pull-xs-left">
              </ul>
                <ul class="nav navbar-nav mx-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'add_offer_url' %}">Add offer</a></li>
                {% endif %}
                <li> <a class="nav-link" href="{% url 'statistics_url' %}">Statistics</a> </li>
                </ul>
              <ul class="nav navbar-nav pull-xs-right">
                  {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout_url' %}">{{user.username}}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout_url' %}">LogOut</a></li>
                  {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'register_url' %}">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login_url' %}">Login</a></li>
                  {% endif %}
              </ul>
          </div>
      </nav>

    <div class="container">

        <br />
        <br />
        <br />
        <br />

        {% block content %}
        {% endblock content %}

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
