{% extends "hack_olx/base.html" %}


{% block content %}

    {# <div class="row"> #}
    {#     <div class="col-md-6 mx-auto text-center"> #}
    {#         <form action="" method="GET" accept-charset="utf-8"> #}
    {#             {% csrf_token %} #}
    {#             <select name="category_id" size="1"> #}
    {#                 {% for c in all_categories %} #}
    {#                     <option value="{{ c.id }}">{{ c.name }}</option> #}
    {#                 {% endfor %} #}
    {#             </select> #}
    {#             <button type="submit" class="btn btn-info">Search</button> #}
    {#         </form> #}
    {#     </div> #}
    {# </div> #}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            {% for c in all_categories %}
                <a class='btn btn-success' href="{% url 'offers_by_category_url' c.pk %}">{{ c.name }}</a>
            {% endfor %}
        </div>
    </div>

    <br />
    <hr />
    <br />

    <div class="card-group">
        {% for offer in object_list %}
            <a href="{% url 'offer_detail_url' offer.pk %}">
                <div class="card">
                    <img  src="{{ MEDIA_URL }}{{ offer.image }}" alt="{{ offer.title }} img" class="card-img-top" class="img-fluid" width="300" height="300">
                    <div class="card-block">
                        <h4 class="card-title">{{ offer.title }}</h4>
                        <p class="card-text">{{ offer.description }}</p>
                        <p class="card-text">Price:{{ offer.price }}</p>
                    </div>
                    <div class="card-footer">
                        <p>Author: {{ offer.author }}</p>
                        <small class="text-muted">Created at: {{ offer.created_at }}</small>
                    </div>
                </div>
            </a>
        {% endfor %}

{% endblock content %}
